* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: lightgray;
}

/* layout */

.name-container {
    margin: 25vh auto 20vh auto;
    padding: 10px 0 20px 0;
    width: 500px;
    text-align: center;
}

.name-container p {
    margin: 10px;
}

.name-info {
    padding: 10px;
}


/* styles */


.name-container {
    border: 2px solid black;
    border-radius: 12px;
    background-color: red;
}

.name-greeting {
    color: white;
    font-weight: bold;
    line-height: 38pt;
}

.hello {
    font-size: 72pt;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Lucida Console", Monaco, monospace;
}

.name-is {
    font-size: 40pt;
    font-style: italic;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.name-info {
    font-family: "Comic Neue", cursive;
    background-color: white;
}

.name {
    font-size: 40pt;
}
